[user]
	email = jbuckmccready@gmail.com
	name = Buck McCready

[core]
	editor = nvim

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = diff3

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true

[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
	path = ~/.gitconfig.local

[delta]
	features = catppuccin-mocha

[gpg]
	format = ssh

[commit]
	gpgsign = true

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/git_allowed_signers

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
